<%= bootstrap_form_for(experiment) do |f| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.text_field :user, placeholder: "Who are you ?", required: true, icon: "user" %>
<%= f.text_field :language, placeholder: "Pick a language", required: true %>
<%= f.check_box :primary, required: true %>
<%= f.select :repo,  $repos.parsed_response.collect {|repo| [repo['name']] } %>
<%= f.submit "Submit" %>
<% end %>
